.gamelist {
    border:1px solid black;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.gamelistname {
    text-align: center;
}

h2 {
    text-align: center;
}

.center {
    display: block;
    max-width: 300px;
    margin: auto;
  }